<h1 class="app-name">localizandoapp2</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">localizandoapp2</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/">Principal <i class="fa fa-dashboard pull-right"></i></a>
      <a class="list-group-item" href="#/chamados">Chamados <i class="fa fa-envelope-o pull-right"></i></a>
      <a class="list-group-item" href="#/oficina">Oficina <i class="fa fa-wrench pull-right"></i></a>
      <a class="list-group-item" href="#/gerencial">Gerencial <i class="fa fa-desktop pull-right"></i></a>
    </div>
  </div>
</div>