<section class="section container-fluid">
  <h1 class="page-header"></h1>  
</section>

<div class="scrollable">
  	<div class="scrollable-content">
  		<div class="section">
			<div class="row">
	            <a href="#/">
				    <div class="col-lg-3 col-md-6">
				        <div class="panel panel-danger">
				            <div class="panel-heading">
				                <div class="row">
				                    <div class="col-xs-3">
				                        <i class="fa fa-bars fa-5x"></i>
				                    </div>
				                    <div class="col-xs-9 text-right">
				                        <div class="huge">5</div>
				                        <div>Chamados Urgentes</div>
				                    </div>
				                </div>
				            </div>
				                <div class="panel-footer">
				                    <span class="pull-left">Detalhes</span>
				                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				                    <div class="clearfix"></div>
				                </div>
				        </div>
				    </div>

				    <div class="col-lg-3 col-md-6">
				        <div class="panel panel-warning">
				            <div class="panel-heading">
				                <div class="row">
				                    <div class="col-xs-3">
				                        <i class="fa fa-bars fa-5x"></i>
				                    </div>
				                    <div class="col-xs-9 text-right">
				                        <div class="huge">9</div>
				                        <div>Chamados Intermediarios</div>
				                    </div>
				                </div>
				            </div>
				                <div class="panel-footer">
				                    <span class="pull-left">Detalhes</span>
				                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				                    <div class="clearfix"></div>
				                </div>
				        </div>
				    </div>

				    <div class="col-lg-3 col-md-6">
				        <div class="panel panel-success">
				            <div class="panel-heading">
				                <div class="row">
				                    <div class="col-xs-3">
				                        <i class="fa fa-bars fa-5x"></i>
				                    </div>
				                    <div class="col-xs-9 text-right">
				                        <div class="huge">2</div>
				                        <div>Chamados Leves</div>
				                    </div>
				                </div>
				            </div>
				                <div class="panel-footer">
				                    <span class="pull-left">Detalhes</span>
				                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				                    <div class="clearfix"></div>
				                </div>
				        </div>
				    </div>

				    <div class="col-lg-3 col-md-6">
				        <div class="panel panel-info">
				            <div class="panel-heading">
				                <div class="row">
				                    <div class="col-xs-3">
				                        <i class="fa fa-bars fa-5x"></i>
				                    </div>
				                    <div class="col-xs-9 text-right">
				                        <div class="huge">2</div>
				                        <div>Chamados Pendentes</div>
				                    </div>
				                </div>
				            </div>
				                <div class="panel-footer">
				                    <span class="pull-left">Detalhes</span>
				                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				                    <div class="clearfix"></div>
				                </div>
				        </div>
				    </div>
	            </a>
			</div>
		</div>
	</div>
</div>	